<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>David Franklin Film and Music Video Director and Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="artisanalTelevisionApp">

<!--  Start of navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" data-toggle="collapse" data-target=".navbar-collapse.in" href="/">
        <img alt="Brand" class="img-responsive" src="images/logo6.png">
      </a>
    </div> <!-- end header div -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left" ng-controller="HeaderCtrl">
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/">All Videos</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" href="/">Reels</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href"" ng-click="gotoFilm(category)">Film</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href"" ng-click="gotoMusic(category)">Music</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href"" ng-click="gotoCommercial(category)">Commercial</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" href"" ng-click="gotoHire(category)">Work for Hire</a></li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse" ui-sref="about">About</a></li>
      </ul>
    </div> <!-- end navbar-collapse -->
    </div> <!-- end container -->
  </nav>

    <div class="container-fluid">
    <div ui-view></div>
  </div>

  <!-- Footer -->

<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          <li><a target="_blank" href="https://twitter.com/artisanaltv"><img src="images/twitter35.jpg"></a></li>
        </div>
        <div class="col-xs-2">
          <li><a target="_blank" href="http://www.imdb.com/name/nm1223853/?ref_=fn_al_nm_2"><img src="images/imdb35.jpg"></a></li>
        </div>
        <div class="col-xs-2">
          <li><a target="_blank" href='https://vimeo.com/user6023393'><img src="images/vimeo35.jpg"></a></li>
        </div>
        <div class="col-xs-2">
          <li><a target="_blank" href='https://www.youtube.com/channel/UC6tBbB62R1_UcDIHNEIjUtw'><img src="images/youtube35.jpg"></a></li>
        </div>
        <div class="col-xs-2">
          <li><a href="mailto:davidnjfranklinATgmailDOTcom"
     onclick = "this.href=this.href
                .replace(/AT/,'&#64;')
                .replace(/DOT/,'&#46;')"><img src="images/email35.jpg"></a></li>
        </div><!--  End columns -->
    </div><!--  End row -->
  </div>
</footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/video.js"></script>
        <script src="scripts/services/videofinder.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
