<div class="container">
<div class="row">
    <div class="col-xs-12">
      <h3>Artisanal Television is the online home of director David Franklin.
</h3>
      <p>David is an Emmy award-winning producer and editor, a feature film and music video director, and a motion graphics designer.</p>
      <p>He received a News and Documentary Emmy Award in 2015 for producing and editing <i>"Perilous Journey,"</i> an episode of <i>48 Hours</i> which aired nationally on CBS. Over nearly 10 years, David edited over 40 episodes of 48 Hours. Other editing credits include the feature film <i>The Condemned</i> (2013), <i>Britney and Kevin: Chaotic</i> (2005), and <i>CBS Sunday Morning</i>.</p>
      <p>David's work as a Music Video director has appeared on NBC, VH1, Pitchfork.com, Stereogum.com, MTVu.com, Consequence of Sound, and the Guardian.co.uk. As a freelance editor and motion graphics artist, David has done work for Microsoft, Fred Hutch, BGC3, Rock Island Communications, and YPO.org. Other Artisanal Television clients include The Brooklyn Botanic Garden, Scholastic, McMillan, and Johns Hopkins University.</p>
      <p>In 2016, he directed his first feature film, <i>As Far As The Eye Can See</i>, starring Jason London and Danny Mora.</p>
    </div><!--  End column -->
  </div><!--  End row -->
</div><!--  End container -->
